{% extends 'unitexapp/base.html' %}
{% load static %}

{% block page_title %}
    {% block title %}UNITEX • Cont digital{% endblock %}
{% endblock %}

{% block body_class %}auth-body{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQ09RWC3ppGqcWaEA1BIZOC6xxalWESw9c2OQeAIft1+Vegovlnee1c9QX4TctnMN13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'inregistrare/style.css' %}">
    {% block auth_extra_css %}{% endblock %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% block auth_extra_js %}{% endblock %}
{% endblock %}

{% block content %}
<div class="auth-layout" data-animate>
    {% block auth_content %}{% endblock %}
</div>
{% endblock %}
