{% extends "base.html" %}
{% load static %}

{% block title %}&#129302; Robot Lab - {{ level.title }}{% endblock %}
{% block body_class %}workspace-body robotlab-play-page{% endblock %}
{% block workspace_title %}&#129302; Robot Lab - {{ level.title }}{% endblock %}
{% block workspace_subtitle %}{{ level.description|default:"Scrie cod Python si ghideaza robotul pas cu pas." }}{% endblock %}
{% block workspace_banner %}{% endblock %}

{% block extra_css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'estudy/robot_lab.css' %}?v=20260324f">
{% endblock %}

{% block page_content %}
{% include "estudy/includes/robot_lab_workspace.html" with level=level level_id=level_id level_json=level_json robot_lab_age_recommendation=robot_lab_age_recommendation %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'estudy/robot_lab.js' %}?v=20260324d" defer></script>
{% endblock %}
